.neo2db-cover-container {
  position: relative;
}

.neo2db-douban-wrapper {
  position: relative;
}

.neo2db-douban-search-btn {
  position: absolute;
  top: -2px;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 18px;
  corner-shape: squircle;
  width: 300px;
  height: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-out;
  text-decoration: none;
}

.neo2db-douban-search-btn:hover {
  background-color: #f7f7f7;
}

.neo2db-logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* IconButton styles */
.neo2db-icon-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 0;
  border: none;
  position: absolute;
  top: -64px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.15s ease-out;
  cursor: pointer;
}

.neo2db-icon-btn--primary {
  background-color: green;
}

.neo2db-icon-btn--primary:hover {
  background-color: #007100;
}

.neo2db-icon-btn--secondary {
  background-color: #e2ece2;
}

.neo2db-icon-btn--secondary:hover {
  background-color: #c8e6c8;
}
